/* src/components/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea todo a la izquierda */
    padding: 5px 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Para que el logo y los enlaces se alineen más a la izquierda */
.navbar-logo-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px; /* Espacio entre el logo y los enlaces */
}

.navbar-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.navbar-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.navbar-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    transition: color 0.3s;
}

.navbar-links li:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.navbar-logo-section:hover {
    opacity: 0.8;
}


.navbar-logo-section:hover img {
    opacity: 0.8;
    transform: scale(1.1); /* Le da un pequeño efecto de aumento al pasar el mouse */
}